<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>메뉴 페이지 입니다.</h1>
	
	<table border="2">
		<tr>
			<th>카테고리번호</th>
			<th>카테고리이름</th>
			<th>비고</th>
		</tr>
		<tr th:each="m : ${menu}">
			<td th:text="${m.cate }"></td>
			<td th:text="${m.catename }"></td>
			<td th:text="${m.comment }"></td>
		</tr>
	</table>
	
	<form action="menu" method="post">
		<input type="number" name="cate" placeholder="카테고리 번호">
		<input type="text" name="catename" placeholder="카테고리 이름">
		<input type="text" name="comment" placeholder="설명">
		<button type="submit">추가하기</button>
	</form>
</body>
</html>